<div class="clear"></div>
<h1>Usuario Registrados</h1>
<div class="clear"></div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Primer nombre</th>
        <th>Segundo nombre</th>
        <th>Primer apellido</th>
        <th>Segundo apellido</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td>{{item.firstName}}</td>
        <td>{{item.secondName}}</td>
        <td>{{item.firstSurname}}</td>
        <td>{{item.secondSurname}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.address}}</td>
        <td><span>
          <i class="fa fa-edit cursor fa-lg" (click)="editUser(item)"></i>
          <i class="fa fa-trash cursor fa-lg" (click)="deleteUser(item)"></i></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>